<div class="col-md-12">
  <div class="meetup">
    <%= link_to("Edit", edit_meetup_path(@meetup), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @meetup.title %></h2>
  <p><%= @meetup.description %></p>
</div>

<% if @meetup.comments.empty? %>
  <p> 尚未有人留言 </p>
<% else %>
  <% @floor = 1 %>
  <% @meetup.comments.each do |comment| %>
    <%= @floor %>樓
    <div class="col-md-12">
      <p><%= comment.message %></p>
    </div>
    <% @floor = @floor + 1 %>
    </br>
  <% end%>
<% end %>


<%= render 'comment_form' %>
